@model L.PX.Core.Leilao
@{
    ViewBag.Title = "TelaGerenciador";
}
<h2> 
    TelaGerenciador</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{

    <h3>
        Contratante</h3>
    
    <fieldset>
        <legend>Leilões cadastrados</legend>
    </fieldset>
    <br />

    
    <fieldset>
        <legend>Dados do Novo Leilão</legend>
        <div class="display-label">
            Valor inicial</div>
        <div class="editor-label">
            @Html.EditorFor(model => model.ValorInicial)
            @Html.ValidationMessageFor(model => model.ValorInicial)</div>
        <div class="display-label">
            Número de lotes</div>
        <div class="editor-label">
            @Html.EditorFor(model => model.NumeroDeLotes)
            @Html.ValidationMessageFor(model => model.NumeroDeLotes)</div>
        <br />
    </fieldset>
    <br />
   
    <input type="submit" value="Criar" />
    
}
