@model L.PX.Core.Lance
@{
    ViewBag.Title = "Efetuar lance";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{ var lances = ViewBag.Lances; }
@foreach (L.PX.Core.LanceProcessado lance in lances)
{
    @lance.ToString();
    <br />
}
@using (Html.BeginForm())
{

    <h3>
        Participante</h3>
    <fieldset>
        <legend>Seu lance</legend>
        <div class="editor-label">
            @Html.Label("Incremento")
        </div>
        <div class="editor-field">
            @Html.TextBox("Incremento")
        </div>
        <div class="editor-label">
            @Html.Label("Número de lotes")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(l => l.NumeroDeLotes)
        </div>
    </fieldset>
   
    
    <input type="submit" value="OK" />
}
