@model L.PX.Core.Leilao
@{
    ViewBag.Title = "TelaContratante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    TelaContratante</h2>
<fieldset>
    <legend>Leilao</legend>
    <div class="display-label">
        Valor atual</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorAtual)
    </div>
    <div class="display-label">
        Número de lotes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroDeLotes)
    </div>
    <div class="display-label">
        Valor inicial</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValorInicial)
    </div>
</fieldset>
<fieldset>
    <legend>Lances</legend>
    @foreach (var item in Model.ListaLancesDosUsuarios())
    {
        <table>
            <tr>@item.Valor.ToString() - @item.Lance.User.NomeCompleto.ToString()</tr>
        </table>
    }
</fieldset>
<fieldset>
    <legend>Participantes</legend>
    @foreach (L.PX.Core.Participante item in ViewBag.Participantes)
    {
        <table>
            <tr>@item.Usuario.Email.ToString() - @item.Usuario.Estado.ToString()</tr>
        </table>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
